DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=subscription_service
POSTGRES_TEST_DB=test_subscription_service
POSTGRES_USER=core_api_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_SCHEMA=core